
/*======================================
//--//-->   STYLES GENERALES
======================================*/

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  background:transparent;
  color:var(--primary);
  border-color:var(--primary);
}
.btn:hover{
  background:var(--primary);
  color:var(--secondary);
}

/*--/ Sections /--*/

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

/*--/ Title Left /--*/

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/

.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*------/ Socials /------*/

.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}

/*------/ Ul resect /------*/

.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #0078ff;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/

.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}

/*------/ Owl Carousel /------*/

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 7px;
  margin: 5px 5px;
  background: #cde1f8;
  border: 0px solid #cde1f8;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #cde1f8;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #1B1B1B;
  width: 25px;
}

/*--/ Scrolltop s /--*/

.scrolltop-mf {
  position: relative;
  display: none;
}

.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #0078ff;
  opacity: .7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #0078ff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*======================================
//--//-->   NAVBAR
======================================*/

.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #0078ff;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #0078ff;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #0078ff;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #0078ff;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #0078ff;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #0078ff;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #0078ff;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/*======================================
//--//-->   INTRO
======================================*/

.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

/*======================================
//--//-->   ABOUT
======================================*/

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #0078ff;
}

/*======================================
//--//-->   SERVICES
======================================*/

.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  font-size: 4rem;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}

/*======================================
//--//-->   COUNTER
======================================*/

.counter-box {
  color: #fff;
  text-align: center;
}

.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #cde1f8;
}

.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}

/*======================================
//--//-->   PORTFOLIO
======================================*/

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.work-content .w-more .w-ctegory {
  color: #0078ff;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a {
  color: #0078ff;
}

.work-content .w-like .num-like {
  font-size: .7rem;
}

.w-title {
  font-size: 1.2rem;
}

/*======================================
//--//-->   TESTIMONIALS
======================================*/

.testimonials .owl-carousel .owl-item img {
  width: auto;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;
}

.testimonial-box .author-test img {
  margin: 0 auto;
}

.testimonial-box .author {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}

/*======================================
//--//-->   BLOG
======================================*/

.card-blog .card-body {
  position: relative;
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1px;
  margin-bottom: 0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: .6rem;
}

.card-blog .card-description {
  color: #4e4e4e;
}

.card-blog .post-author {
  display: inline-block;
}

.card-blog .post-date {
  color: #4e4e4e;
  display: inline-block;
}

/*======================================
//--//-->   BLOG-SINGLE
======================================*/

.post-box,
.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

.blog-wrapper .article-title {
  font-size: 1.5rem;
}

.blog-wrapper .post-meta {
  margin: 1rem 0;
}

.blog-wrapper .post-meta ul {
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
}

.blog-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.blog-wrapper .post-meta ul a {
  color: #0078ff;
}

.blog-wrapper .post-meta ul span {
  color: #1e1e1e;
}

.blog-wrapper .blockquote {
  border-left: 4px solid #0078ff;
  padding: 18px;
  font-style: italic;
}

/*------/ Comments /------*/

.box-comments .list-comments li {
  padding-bottom: 40px;
}

.box-comments .list-comments .comment-avatar {
  display: table-cell;
  vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
  width: 80px;
  height: 80px;
}

.box-comments .list-comments .comment-author {
  font-size: 1.3rem;
}

.box-comments .list-comments .comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
}

.box-comments .list-comments a {
  color: #0078ff;
}

.box-comments .list-comments span {
  color: #1e1e1e;
  font-style: italic;
}

.box-comments .comment-children {
  margin-left: 40px;
}

/*------/ Sidebar /------*/

.widget-sidebar .sidebar-title {
  font-size: 1.6rem;
  font-weight: 600;
  border-left: 5px solid #0078ff;
  padding-left: 15px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.widget-sidebar .list-sidebar li {
  position: relative;
  padding: 6px 0 6px 24px;
}

.widget-sidebar .list-sidebar li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  left: 0;
  background-color: #0078ff;
  top: 20px;
}

.sidebar-search input {
  background-color: #fff;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.sidebar-search .btn-search {
  background-color: #0078ff;
  border-color: #0078ff;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.widget-tags ul li {
  display: inline-block;
  background-color: #0078ff;
  padding: .2rem .6rem;
  margin-bottom: .5rem;
  border-radius: 15px;
}

.widget-tags ul li a {
  color: #fff;
}

/*======================================
//--//-->   CONTACT
======================================*/

.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

/*======================================
//--//-->   FOOTER
======================================*/

footer {
  text-align: center;
  color: #fff;
  padding-bottom: 4rem;
}

footer .copyright {
  margin-bottom: .3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}

/*======================================
//--//-->   CONtaCT FORM
======================================*/

#sendmessage {
  color: #0078ff;
  border: 1px solid #0078ff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/*======================================
//--//-->   BUTTON
======================================*/

.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  background-color: #0078ff;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: .9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .card-blog {
    margin-bottom: 3rem;
  }

  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }

  .intro .intro-title {
    font-size: 4.5rem;
  }

  .intro .intro-subtitle {
    font-size: 2.5rem;
  }

  .intro-single .intro-title {
    font-size: 3.5rem;
  }

  .testimonial-box .description {
    padding: 0 5rem;
  }

  .post-box,
  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }

  .blog-wrapper .article-title {
    font-size: 1.9rem;
  }

  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .testimonial-box .description {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  .testimonial-box .description {
    padding: 0 13rem;
  }
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.h2{
  font: message-box;
  
}







@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(css/animate.css);
@import url(css/slick.min.css);
@import url(css/animated-slider.css);
@import url(css/flaticon.css);
@import url(css/prettyPhoto.css);
@import url(css/owl.carousel.css);
@import url(css/font-awesome.min.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
	--def: #ffffff; 	
	--inv: #009bb7;
    color: #999999;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.80857;
}

html, body{
	height: 100%;
}

body.demos .section {
    background: url(images/bg.png) repeat top center #f2f3f5;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}

body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}

body.demos .container-fluid {
    max-width: 1080px
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	margin: 0px;
	list-style: none;
	padding: 0px;
}





/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

/**new-btn**/

.btn-new {		
	position: relative;	
	padding: 11px 25px;
	font-size: 18px;
	border: none;
	color: var(--inv);
	letter-spacing: 0px;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	background: #fac73b;
	color: #ffffff;
	display: inline-block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.btn-new:before, .btn-new:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn-new:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn-new:hover:before {
	transition-delay: 0s;
}

.btn-new:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}
/*------------------------------------------------------------------
    ICON BOXES
-------------------------------------------------------------------*/

.icon-wrapper {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.icon-wrapper i {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 28px;
    background-color: #f2f3f5;
    color: #1f1f1f;
    margin-top: 0;
}

.small-icons.icon-wrapper:hover i,
.small-icons.icon-wrapper:hover i:hover,
.small-icons.icon-wrapper i {
    width: auto !important;
    height: auto !important;
    line-height: 1 !important;
    padding: 0 !important;
    color: #e3e3e3 !important;
    background-color: transparent !important;
    background: none !important;
    margin-right: 10px !important;
    vertical-align: middle;
    font-size: 24px !important;
}

.small-icons.icon-wrapper h3 {
    font-size: 18px;
    padding-bottom: 5px;
}

.small-icons.icon-wrapper p {
    padding: 0;
    margin: 0;
}

.icon-wrapper h3 {
    font-size: 21px;
    padding: 0 0 15px;
    margin: 0;
}

.icon-wrapper p {
    margin-bottom: 0;
    padding-left: 95px;
}

.icon-wrapper p small {
    display: block;
    color: #999;
    margin-top: 10px;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
}

.icon-wrapper p small:after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
    font-size: 11px;
}


/*------------------------------------------------------------------
    MESSAGE BOXES
-------------------------------------------------------------------*/

.event_dit{
	margin-top: 20px;
}
.event_dit ul {
	float: left;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 0px;
	position: relative;
	line-height: 12px;
}
.event_dit ul li{
	float: left;
	position: relative;
}

.event_dit ul li a{
	padding: 0px 5px;
	font-size: 14px;
	line-height: 25px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.event_dit ul li a:hover{
	color: #333333;
}

.service-widget h3 {
    font-size: 21px;
    color: #ffffff;
    padding: 20px 0 12px;
    margin: 0;
}

.participate-wrap figure{
	overflow: hidden;
	position: relative;
}
.participate-wrap figure::before{
	background-color: #333333;
	content: "";
	position: absolute;
	border-radius: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 0px;
	height: 0px;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.participate-wrap figure figcaption{
	position: absolute;
	width: 100%;
	top: 0px;
	text-align: center;
	margin-top: -20px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.participate-wrap figure figcaption .global-radius{
	background: #ffffff;
	width: 38px;
	height: 38px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
}

.participate-wrap:hover figure::before{
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

.participate-wrap:hover figure figcaption {
	top: 50%;
	opacity: 1;
}

.service-widget h3 a,
.section.wb .service-widget h3,
.section.lb .service-widget h3 {
    color: #1f1f1f;
}

.service-widget p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.message-box h4 {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #999;
}

.message-box h2 {
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
}

.message-box ul{
	margin-bottom: 20px;
}
.message-box ul li{
	display: inline-block;
}

.message-box ul li b{
	color: #292929;
	font-size: 22px;
	margin-right: 15px;
}
.message-box ul li a{
	background: #009bb7;
	font-size: 24px;
	width: 60px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50px;
	color: #ffffff;
}
.message-box ul li a:hover{
	color: #3bd4fa;
}


.post-media {
    position: relative;
}

.post-media img {
    width: 100%;
}

.post-media_pp{
	overflow: hidden;
	position: relative;
}

.service-widget{
	margin-bottom: 30px;
}

.hover-up{
	background: #076799;
}

.service-widget .post-media_pp .hover-up{
	padding: 30px;
	position: absolute;
	left: 110%;
	width: 100%;
	top: 0;
	height: 100%;
	transition: all .35s ease-in-out;
	opacity: 0;
}
.service-widget .post-media_pp:hover .hover-up{
	opacity: 1;
	left: 0;
}

.section.wb .hover-up h3{
	font-size: 32px;
	color: #ffffff;
}

.section.wb .hover-up p{
	color: #cccccc;
}










/*
 * Theme Name: Pixel Perfect Portfolio
 * Author: Pixel Perfect
 * Author URI/Mail: pixelperfectmk@gmail.com
 * Version: 1.0
 */


/* CUSTOM RESETS
================================== */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* 
 * Background colors 
 */
.blue-bg {
  background-color: #196fc2;
}

/* 
 * Button
 */


/* 
 * Rectangle 
 */
.rectangle,
.big-rectangle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #dddddd;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 4px 4px 0px 0px #dddddd;
  -o-box-shadow: 4px 4px 0px 0px #dddddd;
  -moz-box-shadow: 4px 4px 0px 0px #dddddd;
  box-shadow: 4px 4px 0px 0px #dddddd;
}

.rectangle i,
.big-rectangle img,
.rectangle span,
.rectangle img {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.big-rectangle {
  position: absolute;
  right: auto;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 230px;
  height: 230px;
  background-color: #196fc2;
  border: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-box-shadow: 10px 10px 0px 0px #dddddd;
  -o-box-shadow: 10px 10px 0px 0px #dddddd;
  -moz-box-shadow: 10px 10px 0px 0px #dddddd;
  box-shadow: 10px 10px 0px 0px #dddddd;
}

.medium-rectangle {
  width: 75px;
  height: 75px;
}

/

/*
 * Social Network
 */
.social-icons.small {
  margin: 50px auto 0;
}

.social-icons.small .rectangle {
  margin: 0 4px;
  width: 30px;
  height: 30px;
  color: #fff;
}

.social-icons.small .rectangle i {
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.social-icons.small .rectangle:hover {
  background-color: #fff;
}

.social-icons.small .rectangle:hover i {
  color: #196fc0;
}

.social-icons .rectangle {
  box-shadow: none;
  display: inline-block;
}

/* Image responsive */
.img-res {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* HEADER

 */
.site-section {
  padding: 100px 0;
}

.site-section h2 {
  font-family: "Varela", sans-serif;
  margin: 0;
  font-size: 32px;
  color: #196fc2;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle span {
  position: relative;
}

.section-subtitle span:before, .section-subtitle span:after {
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.section-subtitle span:before {
  left: -30px;
}

.section-subtitle span:after {
  right: -30px;
}

.section-diff-title h2 {
  margin: 0;
  font-weight: 300;
  color: #666;
}

.section-diff-title p {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 60px 0 0;
}

.section-diff-title p:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 50px;
  background-color: #666;
}

@media only screen and (max-width: 991px) {
  /* Sections */
  .site-section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Sections */
  .site-section {
    padding: 60px 0;
  }
  .site-section h2 {
    font-size: 24px;
  }
  .section-subtitle span {
    display: inline-block;
    max-width: 230px;
    font-size: 14px;
  }
}

/* Section: Hello */
.section-hello .row {
  margin-top: 70px;
}

.section-hello .col-sm-4 {
  min-height: 325px;
}

.main-service {
  position: relative;
  padding: 35px 0;
  min-height: 180px;
}

.main-service .rectangle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
}

.main-service.text-right {
  padding-right: 90px;
}

.main-service.text-left {
  padding-left: 90px;
}

.main-service.text-left .rectangle {
  right: auto;
  left: 5px;
}

.main-service h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-service p {
  margin: 25px 0 0;
  font-size: 12px;
}

@media only screen and (max-width: 1199px) {
  /* Section: Hello */
  .main-service {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 991px) {
  /* Section: Hello */
  .big-rectangle {
    height: 170px;
    width: 170px;
  }
  .main-service {
    padding: 20px 0;
  }
  .main-service h3 {
    font-size: 14px;
  }
  .main-service.text-right {
    padding-right: 75px;
  }
  .main-service.text-left {
    padding-left: 75px;
  }
}

@media only screen and (max-width: 767px) {
  /* Section: Hello */
  .section-hello .row {
    margin-top: 30px;
  }
  .section-hello .col-sm-4 {
    min-height: 240px;
  }
  .section-hello .main-service {
    min-height: 100%;
  }
  .section-hello .main-service p {
    margin-top: 15px;
  }
}


/* Section: Counters */
.site-section.section-counters {
  padding-bottom: 0;
}

.site-section.section-counters .rectangle {
  margin: 15px auto 10px;
}

.site-section.section-counters .rectangle i,
.site-section.section-counters .rectangle span {
  font-size: 18px;
}

.site-section.section-counters .rectangle i {
  padding-bottom: 20px;
}

.site-section.section-counters .rectangle i + span {
  padding-top: 20px;
}

.site-section.section-counters .row p {
  margin: 30px 0 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  /* Section: Counters */
  .section-counters .col-sm-2:nth-child(n+3) {
    margin-top: 20px;
  }
  .section-counters .row p {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 479px) {
  /* Section: Counters */
  .section-counters .col-sm-2 {
    width: 100%;
  }
  .section-counters .col-sm-2:nth-child(n+2) {
    margin-top: 20px;
  }
}

/* Section: Services */
.section-services.site-section {
  padding: 0;
  background-color: #f6f6f6;
}

.section-services .container-fluid {
  padding: 100px 15px 70px;
  background-color: #ffffff;
}

.section-services .container-fluid + .container {
  margin-top: 80px;
}

.section-services .col-sm-fifth {
  width: 20%;
  display: table;
}

.section-services .nav-tabs {
  position: relative;
  min-height: 160px;
  width: 100%;
  margin: 70px 0 0;
  bottom: 0;
  left: 0;
  border-bottom: 0;
}

.section-services .nav-tabs .col-sm-fifth {
  height: 160px;
  background: #ffffff;
  border-bottom: 3px solid #196fc2;
}

.section-services .carousel-inner {
  margin-top: 75px;
}

.section-services .carousel-inner img {
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}

.section-services .item-controls {
  height: 45px;
}

.section-services .item-controls .carousel-control {
  margin: 7px 5px 0;
  position: relative;
  border: 1px solid #dddddd;
  background: #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  opacity: 1;
}

.section-services .item-controls .carousel-control i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-size: 18px;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  text-shadow: none;
}

.section-services .item-controls .carousel-control:hover, .section-services .item-controls .carousel-control:focus {
  background-color: #196fc2;
  border-color: #196fc2;
}

.section-services .item-controls .carousel-control:hover i, .section-services .item-controls .carousel-control:focus i {
  color: #ffffff;
}

.section-services .item-controls.left i {
  padding-right: 3px;
}

.section-services .item-controls.right i {
  padding-left: 3px;
}

.service {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: #000;
}

.service .rectangle {
  margin: 0 auto 20px;
  box-shadow: none;
}

.service p {
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.section-services .col-sm-7 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.section-services .col-sm-5 {
  min-height: 390px;
}

.service-info h3 {
  font-size: 28px;
  margin: 20px 0 0;
}

.service-info p {
  margin: 30px 0 0;
}

.nav-tabs .col-sm-fifth,
.item-controls .carousel-control i,
.service .rectangle,
.service p,
.carousel-indicators .service .rectangle i {
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.carousel-indicators .active .col-sm-fifth,
.carousel-indicators a:hover .col-sm-fifth {
  background-color: #196fc2;
}

.carousel-indicators .active .service p,
.carousel-indicators a:hover .service p {
  opacity: 0;
  visibility: hidden;
}

.carousel-indicators .active .service .rectangle,
.carousel-indicators a:hover .service .rectangle {
  background-color: #ffffff;
  height: 80px;
  width: 80px;
  margin-bottom: 0;
}

.carousel-indicators .active .service .rectangle i,
.carousel-indicators a:hover .service .rectangle i {
  font-size: 32px;
}

.carousel-indicators .active .service .rectangle {
  color: #196fc2;
}

.carousel-indicators .active .service:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #196fc2 transparent transparent transparent;
  z-index: 99;
}

@media only screen and (max-width: 991px) {
  /* Section: Services */
  .section-services .container-fluid {
    padding: 80px 15px 50px;
  }
  .section-services .container-fluid + .container {
    margin-top: 60px;
  }
  .section-services .nav-tabs {
    margin-top: 50px;
  }
  .section-services .carousel-inner {
    margin-top: 55px;
  }
  .section-services .service-info h3 {
    margin-top: 0;
  }
  .section-services img {
    margin: 30px auto 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Section: Services */
  .section-services .container-fluid {
    padding: 60px 15px 30px;
  }
  .section-services .container-fluid + .container {
    margin-top: 40px;
  }
  .section-services .nav-tabs {
    margin-top: 30px;
    min-height: 70px;
  }
  .section-services .nav-tabs .col-sm-fifth {
    height: 70px;
  }
  .section-services .carousel-inner {
    margin-top: 35px;
  }
  .section-services .carousel-indicators .active .service .rectangle,
  .section-services .carousel-indicators a:hover .service .rectangle,
  .section-services .carousel-indicators .service .rectangle {
    margin-bottom: 0;
    height: 28px;
    width: 28px;
  }
  .section-services .carousel-indicators .active .service .rectangle i,
  .section-services .carousel-indicators a:hover .service .rectangle i,
  .section-services .carousel-indicators .service .rectangle i {
    font-size: 14px;
  }
  .section-services .col-sm-5 {
    min-height: 100%;
  }
  .section-services .col-sm-7 {
    position: relative;
  }
  .section-services .service-info h3 {
    font-size: 22px;
  }
  .section-services .service-info p {
    margin: 15px 0 0;
  }
}


/* Section: Team */
.team {
  margin-top: 50px;
}

.team-member {
  height: 335px;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -o-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

.team-member:hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.team-member .flipper {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative;
}

.team-member .team-member-front,
.team-member .team-member-back {
  height: 335px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.team-member .team-member-front {
  z-index: 2;
  border: 1px solid #ccc;
  width: 100%;
}

.team-member .team-member-front .team-member-thumb {
  height: 260px;
  border: 2px solid #cccccc;
}

.team-member .team-member-front .team-member-thumb img {
  margin: 0 auto;
}

.team-member .team-member-front .team-member-front-name {
  text-align: center;
  margin: 20px 0 0;
  font-weight: 600;
}

.team-member .team-member-back {
  padding: 0 20px;
  display: table;
  background: #196fc2;
  text-align: center;
  color: #ffffff;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  z-index: 5;
}

.team-member .team-member-back .team-member-info {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.team-member .team-member-back .team-member-back-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.team-member .team-member-back .team-member-back-position {
  margin: 10px 0 0;
  font-size: 12px;
}

.team-member .team-member-back .team-member-back-info {
  position: relative;
  margin: 60px 0 0;
  font-size: 12px;
}

.team-member .team-member-back .team-member-back-info:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  width: 30px;
  background-color: #ffffff;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  /* Section: Team */
  .section-team .col-xs-6:nth-child(n+3) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  /* Section: Team */
  .team {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 479px) {
  /* Section: Team */
  .section-team .col-xs-6 {
    width: 100%;
  }
  .section-team .col-xs-6:nth-child(n+2) {
    margin-top: 30px;
  }
}

/* Section: History */
.section-history {
  padding: 70px 0;
  background-color: #f6f6f6;
}

.section-history .section-diff-title h2 {
  color: #196fc2;
}

.section-history .section-diff-title p {
  text-transform: uppercase;
}

.timeline {
  margin: 50px 0 0;
  padding-left: 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #dddddd;
  left: 50%;
  margin-left: -0.5px;
}

.timeline > li {
  position: relative;
}

.timeline > li + li {
  margin-top: 50px;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li.timeline-start .rectangle, .timeline > li.timeline-end .rectangle {
  display: block;
  position: relative;
  left: 0.5px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: none;
}

.timeline > li.timeline-start .rectangle span, .timeline > li.timeline-end .rectangle span {
  font-size: 12px;
  text-transform: uppercase;
}

.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 2px;
  position: relative;
  padding-right: 10px;
}

.timeline > li > .timeline-panel:before {
  content: " ";
  position: absolute;
  top: 15px;
  right: 0px;
  background-color: #f6f6f6;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  z-index: 2;
}

.timeline > li > .timeline-panel .timeline-heading {
  background-color: #666;
  line-height: 50px;
  height: 50px;
}

.timeline > li > .timeline-panel .timeline-heading p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #ffffff;
}

.timeline > li > .timeline-panel .timeline-heading .timeline-date,
.timeline > li > .timeline-panel .timeline-heading .timeline-position {
  display: inline-block;
}

.timeline > li > .timeline-panel .timeline-heading .timeline-date {
  padding: 0 10px;
  background-color: #196fc2;
}

.timeline > li > .timeline-panel .timeline-heading .timeline-position {
  padding-left: 5px;
}

.timeline > li > .timeline-panel .timeline-body {
  position: relative;
  padding: 20px 0;
  min-height: 140px;
}

.timeline > li > .timeline-panel .timeline-body .timeline-body-thumb {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
}

.timeline > li > .timeline-panel .timeline-body p {
  padding-left: 120px;
  margin-bottom: 0;
}

.timeline > li .timeline-rectangle {
  position: absolute;
  margin: 0 auto;
  top: 15px;
  left: 0.5px;
  right: 0;
  background-color: #666;
  width: 20px;
  height: 20px;
  border: 0;
  box-shadow: none;
  z-index: 99;
}

.timeline > li.timeline-inverted .timeline-heading {
  text-align: right;
}

.timeline > li.timeline-inverted .timeline-panel {
  float: right;
  padding: 0 0 0 10px;
}

.timeline > li.timeline-inverted .timeline-panel .timeline-position {
  padding: 0 5px 0 0;
}

.timeline > li.timeline-inverted .timeline-panel:before {
  left: 0px;
  right: auto;
}

@media only screen and (max-width: 767px) {
  /* Section: History */
  .section-history {
    padding: 50px 0;
  }
  .section-history h2 {
    font-size: 22px;
  }
  .section-diff-title p {
    margin-top: 40px;
  }
  .section-diff-title p:before {
    top: -20px;
  }
  .timeline {
    margin: 30px 0 0;
  }
  .timeline:before {
    left: 88%;
  }
  .timeline > li + li {
    margin-top: 30px;
  }
  .timeline > li.timeline-start .rectangle, .timeline > li.timeline-end .rectangle {
    left: 38%;
  }
  .timeline > li > .timeline-panel {
    width: 88%;
  }
  .timeline > li > .timeline-panel .timeline-heading p {
    font-size: 12px;
  }
  .timeline > li > .timeline-panel .timeline-heading .timeline-date,
  .timeline > li > .timeline-panel .timeline-heading .timeline-position {
    padding: 0 8px;
  }
  .timeline > li > .timeline-panel .timeline-heading .timeline-date {
    float: left;
  }
  .timeline > li .timeline-rectangle {
    left: 76%;
  }
  .timeline > li.timeline-inverted .timeline-heading {
    text-align: left;
  }
  .timeline > li.timeline-inverted .timeline-date {
    float: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: left;
    padding: 0 10px 0 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    left: auto;
    right: 0;
  }
}

@media only screen and (max-width: 479px) {
  .timeline {
    margin: 30px 0 0;
  }
  .timeline:before {
    left: 50%;
  }
  .timeline > li.timeline-start .rectangle, .timeline > li.timeline-end .rectangle {
    left: auto;
  }
  .timeline > li > .timeline-panel {
    background-color: #f6f6f6;
    width: 100%;
    padding-right: 0;
  }
  .timeline > li .timeline-panel:before {
    content: none;
  }
  .timeline > li .timeline-rectangle {
    disply: none;
  }
}
